body {
  user-select: none;
  background-color: rgb(244, 170, 57);
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

h1,
h2,
h3,
label {
  color: rgb(1, 90, 173);
}

.App1 {
  text-align: center;
  display: flex;
  justify-content: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.form {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  text-align: center;
  width: 320px;
  height: 75vh;
  border: 1px solid red;
  padding: 1em;
  background-color: #ffe4c3;
  border: 1px solid rgb(234, 85, 105);
  border-width: 10px 6px 6px 10px;
  border-radius: 95% 4% 97% 5%/4% 94% 3% 95%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23397d9f' fill-opacity='0.09' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

form input[type="text"] {
  border: 1px inset rgb(132, 222, 234);
  border-width: 3px 1px 1px 3px;
  border-radius: 5%;
  padding: 0.25em;
  margin: 10px;
}

form input[type="username"] {
  border: 1px inset rgb(132, 222, 234);
  border-width: 3px 1px 1px 3px;
  border-radius: 5%;
  padding: 0.25em;
  margin: 10px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.player {
  border-radius: 50%;
  height: auto;
  width: 5%;
}

.Btn-game {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 1rem 2rem;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  background: #cb4e4e;
  color: #fff;
  box-shadow: 0 6px #ab3c3c;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
  border-radius: 5px;
  &:hover {
    box-shadow: 0 4px #ab3c3c;
    top: 2px;
  }
}
