body {
  user-select: none;
  background-color: rgb(244, 170, 57);
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

h1,
h2,
h3,
label {
  color: rgb(1, 90, 173);
}

.App1 {
  text-align: center;
  display: flex;
  justify-content: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.player {
  border-radius: 50%;
  height: auto;
  width: 5%;
}

.Btn-game {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 1rem 2rem;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  background: #cb4e4e;
  color: #fff;
  box-shadow: 0 6px #ab3c3c;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
  border-radius: 5px;
  &:hover {
    box-shadow: 0 4px #ab3c3c;
    top: 2px;
  }
}
